* {
  margin: 0;
  padding: 0;
}

$screen: 600px;
$letter: 100px;

#game {
  background-color: #eee;
  height: $screen;
  overflow: hidden;
  position: relative;
  width: $screen;
  #letterbox {
    border-left: $letter * 2.5 solid #333;
    border-right: $letter * 2.5 solid #333;
    height: $screen * 1.5;
    left: -$letter * 1.5;
    overflow: hidden;
    position: absolute;
    top: -$screen * .25;
    transform: rotateZ(0deg);
    transition: transform .7s;
    width: ($screen - 2 * $letter);
    z-index: 200;
  }
  .ent {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 20;
    &.player {
      background-color: #a00;
      height: 30px;
      width: 30px;
    }
    &.enemy {
      background-color: #0a0;
      height: 16px;
      width: 16px;
    }
    &.bullet {
      background-color: #a00;
      border-radius: 50%;
      height: 6px;
      width: 6px;
    }
  }
  &.horizontal {
    #letterbox {
      transform: rotateZ(90deg);
    }
  }
  &.plane {
    #letterbox {
      transform: perspective(300px) rotateX(40deg);
    }
  }
}
