* {
  margin: 0;
  padding: 0;
}

$screen: 600px;
$letter: 100px;

#game {
  background-color: #999;
  height: $screen;
  overflow: hidden;
  position: relative;
  width: $screen;
  #letterbox {
    border-left: $letter * 2.5 solid #333;
    border-right: $letter * 2.5 solid #333;
    height: $screen * 1.5;
    left: -$letter * 1.5;
    overflow: hidden;
    position: absolute;
    top: -$screen * .25;
    transform: rotateZ(0deg);
    transition: transform .7s;
    width: ($screen - 2 * $letter);
    z-index: 200;
  }
  .ent {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 20;
    &.player {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 30px 15px;
      border-color: transparent transparent #a00 transparent;
    }
    &.enemy {
      background-color: #0a0;
      height: 16px;
      width: 16px;
    }
    &.bullet {
      background-color: #a00;
      border-radius: 50%;
      height: 6px;
      width: 6px;
    }
    &.feature {
      background-color: #00a;
      height: 40px;
      transform: translate(0, -50%);
      width: 400px;
      &.up {
        transform: translate(-100%, -50%);
      }
    }
    &.particle {
      &.thruster {
        animation: thruster 1s;
        background-color: #fa0;
        height: 8px;
        width: 8px;
      }
      &.explosion {
        animation: explosion 1s;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
      &.spark {
        animation: spark 0.5s;
        background-color: #fff;
        height: 2px;
        width: 2px;
      }
    }
    &.hurting {
      background-color: #fff;
    }
  }
  &.horizontal {
    #letterbox {
      transform: rotateZ(90deg);
    }
  }
  &.plane {
    #letterbox {
      transform: perspective(300px) rotateX(40deg);
    }
  }
}

@keyframes thruster {
  from {
    transform: translate(-50%, -50%), rotateZ(0deg);
  }
  to {
    height: 15px;
    opacity: 0;
    transform: translate(-50%, -50%), rotateZ(360deg);
    width: 15px;
  }
}

@keyframes explosion {
  from {
    background-color: rgba(#fa0, 1);
    height: 40px;
    width: 40px;
  }
  to {
    background-color: rgba(#a00, .4);
    height: 60px;
    width: 60px;
  }
}

@keyframes spark {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
